* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
    font-size: 16px;
}

body {
    position: relative;  
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "FLAR" 0,
      "VOLM" 0;
      width: 100%;
      height: 100%;
}

.full-container {
    width: 100%;
}

.overlay {
    background-color: var(--black);
    opacity: .7;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.hide {
    display: none !important;
}

header {
    background-color: transparent;
    height: 70px;
    position: relative;
    z-index: 999;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 40px 20px;
}

.logo {
    width: 120px;
}

.nav-mobile_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.icon-hamburger {
    display: inline-block;
    background: url(../images/icon-hamburger.svg);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.nav-desktop {
    display: none;
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 90vw;
    background-color: #fff;
    border-radius: 15px;
}

.hide {
    display: none;
}

.nav-mobile a {
    display: flex;
    width: 100%;
    padding: 25px 0 20px 20px;
    border-top: 1px solid #ddd;
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
}

.nav-mobile a:hover {
    background-color: var(--moderate-cyan);
}

.nav-mobile a:first-of-type {
    border-top: none;
}

.hero {
    margin-top: -70px;
    object-fit: contain;
}

.main {
    width: 100%;
    background-color: #f7f7f7;
}

.section-container {
    margin: 0 auto;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #ddd;
}

.first {
    margin-top: -60px;
}

.logo-mastercraft {
    position: absolute;
    top: -30px;
    left: 45%;
}

.container h1 {
    width: 70%;
    text-align: center;
    margin: 20px 0;
}

.container p {
    color: var(--dark-gray);
    text-align: center;
    line-height: 1.7;
}

.first .options-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    background-color: var(--moderate-cyan);
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.bookmark-btn-desktop {
    display: none;
}

.back-btn:hover {
    background-color: var(--dark-cyan);
}

.second .content-container {
    margin: 20px 0;
}

.second .content-container h2, .second .content-container p {
    text-align: center;
}

.second .content-container h2 {
    font-weight: 700;
    font-size: 1.9rem;
    margin-top: -20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.second .content-container:first-of-type > h2 {
    border-top: none;
}

.second .content-container {
    border-bottom: none;
}

.bar-container {
    width: 100%;
    margin-top: 20px;
}

.bar {
    position: relative;
    background-color: #f2f2f2;
    width: 100%;
    height: 10px;
    border-radius: 20px;
}

.bar::after {
    content: "";
    position: absolute;
    width: 80%;
    background-color: var(--moderate-cyan);
    height: 10px;
    border-radius: 20px;
}

.third .content-container {
    margin-bottom: 10px;
}

.third .content-container h2 {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.third .content-container p {
    text-align: start;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card h3 {
    margin-bottom: 10px;
    font-weight: 800;
}

.color {
    color: var(--moderate-cyan) !important;
    font-weight: 600;
}

.card p {
    text-align: start;
    margin-bottom: 20px;
}

.number-inventory {
    font-size: 1.9rem;
    color: var(--black) !important;
    font-weight: 800;
    margin-right: 10px;
}

.available, .out-of-stock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 60%;
    height: 50px;
    color: #fff;
    text-decoration: none;
}

.available {
    background-color: var(--moderate-cyan);
    font-weight: 500;
}

.available:hover {
    background-color: var(--dark-cyan);
}

.no-available {
    opacity: .4;
}

.out-of-stock {
    background-color: var(--black);
    font-family: "Commissioner", sans-serif;
    font-size: 1rem;
}

.selection-modal {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    position: absolute;
    top: 140px;
    left: 5vw;
    border-radius: 10px;
    z-index: 999;
}

.selection-modal h2 {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    font-weight: 800;
}

.selection-modal p {
    color: var(--dark-gray);
    line-height: 1.7;
}

.selection-modal .card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.selection-modal .close-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.selection-modal input[type="radio"] {
    margin-right: 20px;
}

.active {
    border: 2px solid var(--moderate-cyan);
}

.container-title-options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.container-title-options h3 {
    width: 70%;
}

.container-title-options span {
    margin-left: 35px;
}

.selection-modal .options-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
}

.selection-modal .options-container p {
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.selection-modal .card input[type="text"] {
    width: 40%;
    height: 50px;
    border-color: var(--dark-gray);
    padding-left: 30px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-family: "Commissioner", sans-serif;
}

.options::before {
    content: "$";
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    left: 40px;
    color: rgb(128, 128, 128);
}

.selection-modal .card button[type="submit"] {
    display: inline-flex;
    justify-content: center;
    width: 40%;
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: var(--moderate-cyan);
    outline: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: "Commissioner", sans-serif;
    font-weight: 700;
    align-items: center;
}

input[type=radio] {
    accent-color: var(--moderate-cyan); 
    transform: scale(1.1);

  }


.selection-modal .card button[type="submit"]:hover {
    background-color: var(--dark-cyan);
}

.modal-success {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    background-color: #fff;
    top: 50%;
    margin: 0 6vw;
    padding: 40px;
    border-radius: 10px;
    z-index: 999;
    top: 20%;
}

.modal-success h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.modal-success p {
    color: var(--dark-gray);
    text-align: center;
    line-height: 1.7;
}

#close-success-modal {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: var(--moderate-cyan);
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
}

#close-success-modal:hover {
    background-color: var(--dark-cyan);
}

.error {
    color: red;
    margin-top: 10px;
}

@media screen and (min-width:968px) {
    .full-container {
        width: 100%;
        height: 100%;
    }

    header {
        width: 100%;
    }

    .hero {
        width: 100%;
        height: auto;
    }

    .header-container {
        width: 90%;
        margin: 0 auto;
    }

    .nav-mobile_container {
        display: none;
    }

    .nav-desktop {
        display: flex;
        gap: 30px;
    }

    .nav-desktop a {     
        color: #fff;
        text-decoration: none;
    }

    .first {
        width: 700px;
        margin: -80px auto 30px;
    }

    .back-btn {
        width: 200px;
    }

    .first .options-container {
        gap: 10px;
        justify-content: space-around;
    }

    .bookmark-btn-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        border-radius: 25px;
        padding-right: 40px;
        text-decoration: none;
        background-color: #f2f2f2;
        color: var(--dark-cyan);
        font-weight: 700;
    }

    #bookmark-desktop {
        background: url(../images/icon-bookmark-green.svg);
        width: 60px;
        height: 56px;
        background-repeat: no-repeat;
    }

    .checked {  
        background-color: #ddd !important;
        color: var(--dark-gray) !important;
    }

    .checked > #bookmark-desktop {
        background: url(../images/icon-bookmark.svg);
        background-repeat: no-repeat;
    }

    .bookmark-btn-mobile {
        display: none;
    }

    .second {
        width: 700px;
        margin: 10px auto 40px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .second .content-container {
        width: 30%;
        border-right: 1px solid #ddd;
    }

    .second .content-container:last-of-type {
        border-right: none;
    }

    .second .content-container h2 {
        border-top: none;
    }
    
    .bar-container {
        width: 100%;
    }

    .card {
        width: 650px;
    }

    .title-card {
        display: flex;
        justify-content: space-between;
    }

    .card-options {
        display: flex;
        justify-content: space-between;
    }

    .available, .out-of-stock {
        width: 200px;
    }

    .third {
        width: 700px;
        margin: 0 auto;
    }

    .modal-success {
        width: 500px;
        margin: 0 auto;
        left: 30%;
        right: 30%;
        position: absolute;
        z-index: 999;
    }
    
    .selection-modal {
        width: 700px;
        margin: auto;
        top: 15%;
        left: 20%;
        right: 20%;
    }

    .container-title-options {
        display: flex;
        flex-wrap: nowrap;
    }

    .container-title-options h3 {
        width: auto;
    }

    .selection-modal .card {
        position: relative;
    }

    .inventory-left {
        position: absolute;
        top: 33px;
        right: 30px;
    }

    .selection-modal .options-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .selection-modal .options-container p {
        margin-bottom: 0 !important;
    }

    .selection-modal .card button[type="submit"], .selection-modal .card input[type="text"] {
        width: 120px;
    }

    .selection-modal .card button[type="text"] {
        padding-left: 50px;
    }

    .options::before {
        left: 20px;
    }
}

@media screen and (min-width:1400px) {

    .header-container {
        max-width: 1100px;
    }

    .hero {
        max-width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .first {
        max-width: 900px;
        margin-top: -200px;
    }

    .second {
        max-width: 900px;
    }

    .card {
        max-width: 850px;
    }

    .third {
        max-width: 900px;
        margin: 0 auto;
    }

    .modal-success {
        left: 36%;
    }
}
